@import url('https://fonts.googleapis.com/css2?family=Anton&family=Teko:wght@300&display=swap');

body {
    background-color: #7ac;
    overflow-x: hidden;
    margin: 0;
}

section {
    margin: 0;
    padding: 0;
}

header {
    color: rgba(255,255,255,1);
    text-shadow: -1px 1px 0 rgba(0,0,0,0.3) inset;
    text-align: center;

    background-color: rgb(0,0,0,0.5);
    box-shadow: -4px 4px 4px 0 rgba(0,0,0,0.3);

    padding: 0;
    margin: 0 0 20px 0;
    height: 52px;
    width: 100vw;
    top: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-div {
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    margin: 0 2vw 0 2vw;
}

#logo {
    width: 56px;
}

article {
    margin-bottom: 20px;
    padding: 15px;

    background-color: black;
    
    color: white;
    font-family: sans-serif;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1, h2, h3 {
    font-family: 'Anton', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    text-shadow: -2px 2px 0 black;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3 {
    display: none;
}

a, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

li {
    margin-bottom: 15px;
}

iframe {
    border-radius: 5px;
}

footer {
    background-color: black;
    width: 100vw;
    margin: 0;
    padding: 0;

    color: white;
    font-family: '',sans-serif;
    font-size: 10px;
    text-align: center;

    bottom: 0;
    position: fixed;
}

#input {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

#first-name, #last-initial {
    font-size: 20px;
    margin-top: 15px;
    max-width: 220px; 
}

ul {
    font-family: sans-serif;
    padding-right: 40px
}

#prayer-date {
    font-family: sans-serif;
    text-align: center;
    background-color: black;
    font-size: 18px;
    color: white;
    padding: 5px 5px 5px 15px;
    margin: 0 15px;  
    border-radius: 25px 5px 5px 5px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    width: 150px;
}

#radio-instruction {
    background-color: white;
    color: black;
    border-radius: 65px 15px 0 0;
    width: 90vw;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#radio-buttons {
    display: grid;
    width: 90vw;
    grid-template-columns: 30px 125px 1fr;
    background-color: rgba(112,160,192,0.4);
    border-radius: 0 0 65px 15px;
    padding: 20px 10px
}

.radio-button {
    appearance: none;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin: 6px;
    vertical-align: middle;
    border: 4px solid #7cf;

    transition: 0.5s all;
}

.radio-button:hover {
    box-shadow: 0 0 16px 5px rgba(255,255,255,0.7);
    cursor: pointer;
}

.radio-button:checked {
    width: 16px;
    height: 16px;
    margin: 0px;
    border: 10px solid white;
}

label:hover {
    cursor: pointer;
    color: #7cf;
}

button {
    font-family: 'Anton', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    margin: 25px;
    color: black;
    background-color: white;
}

button:hover {
    box-shadow: 0 0 16px 0 rgba(255,255,255,0.7);
    cursor: pointer;

}
button:active {
    box-shadow: -1px 1px 4px 2px rgba(0,0,0,0.7) inset;
}

.desktop-only {
    display: none;
}

@media only screen and (min-width: 800px) {
    body {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    ul {
        max-width: 500px;
    }

    #radio-buttons, #radio-instruction {
        max-width: 800px;
    }

    .header-div {
        margin: 0 20px 0 20px;
    }
}